# Para ignorar una carpete no archivos con su mismo nombre poner "/" al final

# Ignorar dependencias y build
node_modules/
build/

# Ignorar archivos de entorno
.env

# Ignorar los certificados
certificates/

# Ignorar archivps mios
ESTRUCT_*
copia*
